*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
html{
    height: 100%;
    width: 100%;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
    background-image: url(../img/bg.png); 
    background-attachment: fixed;
}
.header_topline {
	background-color: #0A0A0A;
	padding: 15px 0;
	color: #fff;
}
.header_topline a {
	color: #c2ab6d;
    font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}
.top_links a {
	text-decoration: underline;
    
}
.top_links a:hover {
	text-decoration: none;
}
.soc_buttons {
    float: right;
    
}
.soc_buttons > a {
	font-size: 26px;
	margin-left: 8px;
}
.is-rounded{
    float: right;
    height:  40px; 
    
}
.auth_buttons,
.main_mnu_button {
	background-color: transparent;
	border: medium none;
	font-size: 26px;
}
.main_mnu_button {
	color: #fff;
	padding: 8px 15px 0;
}
.logo {
	color: #fff;
 height: 100px;
}
.logo_img {
    height: 80px;
}
.google_img {
    height: 50px;
    width: 150px;
}
.istore_img {
    height: 50px;
    width: 150px;
    margin-left: 10px;
}
.fa-vk{
  color: #5181B8;  
}
.fa-facebook-f{
    color: #3B589E;
}
.fa-youtube{
    color: #AE2B26;
}
.maian_mnu {
	background-color: none;
	color: #c2ab6d;
    font-size: 20px;
}
.maian_mnu a {
	color: #c2ab6d;
	padding: 10px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.maian_mnu a:hover {
	color: #FFF;
}
.maian_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	
}
.top_contacts {
	background-color: #2787af;
	float: right;
	font-size: 30px;
	line-height: 53px;
	padding: 0 15px;
}
.maian_mnu ul li {
	display: inline-block;
}
.maian_mnu ul {
	z-index: 12;
}
h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: ""Open Sans", sans-serif;";
	padding: 16px 0;
}
h2{
    font-family: ""Open Sans", sans-serif;"; 
    color: #c2ab6d;
    text-align: center;
}

section.order  {
	padding: 30px 0;
}
.sell_descr {
    padding-top: 5px;
    text-align: center;
    color: #c2ab6d;
}

.caption{
    font-size: 3em;
     padding-top: 5px;
    text-align: center;
    color: #c2ab6d;
}
.button {
    background-color:none;
    border: medium 2px;
    border-radius: 20px;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    border-color: #c2ab6d; /* Цвет границы */
    border-style: double; /* Стиль границы */
}
.button:hover {
	border-color: #fff;
    color: #fff;
    -webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.main_button{
   background-color:none;
    border: medium 2px;
    border-radius: 50px;
    color: #c2ab6d;
    display: block;
    padding: 20px 20px;
    text-transform: uppercase;
    text-align: center;
    border-color: #c2ab6d; /* Цвет границы */
    border-style: double; /* Стиль границы */
    margin-bottom: 25%;
    
}
.main_button:hover {
	border-color: #fff;
    color: #fff;
    -webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.main_img{
    text-align: center!important;
    margin-top:30px; 
}
.carousel{
    height: 600px;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover; /* Масштабируем фон */
    background-color: black;
}
.sell_right .button .main_button{
    float: center;
}
.hidden {
	display: none;
}
.pop_form input[type="text"] {
    display: block;
    line-height: 24px;
    margin: 0 auto 12px;
    width: 90%;
    border: #999 3px solid;
}
.pop_form .button {
	margin: 20px auto 0;
}
.pop_form h3 {
    margin: 10px auto 15px;
    text-align: center;
    font-weight: normal;
    font-family: "RobotoCondensedBold";
    text-transform: uppercase;
}
.map{
    margin-top: 20px;
    height: 600px;
    min-width: 100%;
    min-height: 100%;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-size: cover; /* Масштабируем фон */
    background-color: black;        
    
}
.caption_maps{
    font-size: 3em;
    padding-top: 5px;
    padding-bottom: 40px;
    text-align: center;
    color: #c2ab6d;
}
.title_map{
    margin-top: 20px;
    font-family: ""Open Sans", sans-serif;"; 
    color: #c2ab6d;
    text-align: left;     
    line-height:31px;
    font-size: 1.7em;
}
.text_map{
    font-family: ""Open Sans", sans-serif;"; 
    color: #fff;
    text-align: left;     
    line-height:31px;
    font-size: 21px; 
}
.caption_portfolio{
   font-size: 3em;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #c2ab6d; 
}
.sider_container img {
	max-width: 100%;
}
.sider_container {
	position: relative;
    
}
.slide_item{
    margin-right: 20px;
}
.next_button, .prev_button {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10em;
	color: #fff;
	cursor: pointer;
	font-size: 46px;
	padding: 0 25px;
	position: absolute;
	top: 40%;
	z-index: 10;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
.caption_servis{
     font-size: 3em;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    color: #c2ab6d; 
}
.item_services{
    width: 100%;
    background-color: rgba(24,24,24,.5);
    height: 300px;
    border: 1px solid #201d16;
    margin-top: 20px;
}
.img_item{
    height: 90px;
    text-align: center;         
    padding-top: 20px;
    padding-bottom: 20px;
}
.name_services{
    height: 20%;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.price_services{
    height: 20%;
     color: #ccac6a;
    text-align: center;
    font-size: 16px;
}